{# # This file is part of the YesWiki Extension zfuture43.
# Authors : see README.md file that was distributed with this source code.
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code. #}
{% if isIframe %}
  {{ include_css('tools/zfuture43/styles/vendor/docsify/vue.min.css') }}
  <div id="app"></div>

  {# Js CSS for Action #}
  {{ include_css('tools/zfuture43/styles/documentation.css') }}
  {{ include_javascript('tools/zfuture43/javascripts/documentation.js') }}

  {# DocSify js #}
  {{ include_javascript('tools/zfuture43/javascripts/vendor/docsify/docsify.min.js') }}
  {{ include_javascript('tools/zfuture43/javascripts/vendor/docsify/plugins/search.min.js') }}
  {# {{ include_javascript('tools/zfuture43/javascripts/vendor/docsify/plugins/disqus.min.js') }}
  {{ include_javascript('tools/zfuture43/javascripts/vendor/docsify/plugins/emoji.min.js') }}
  {{ include_javascript('tools/zfuture43/javascripts/vendor/docsify/plugins/external-script.min.js') }}
  {{ include_javascript('tools/zfuture43/javascripts/vendor/docsify/plugins/font-matter.min.js') }}
  {{ include_javascript('tools/zfuture43/javascripts/vendor/docsify/plugins/ga.min.js') }}
  {{ include_javascript('tools/zfuture43/javascripts/vendor/docsify/plugins/gitalk.min.js') }}
  {{ include_javascript('tools/zfuture43/javascripts/vendor/docsify/plugins/matomo.min.js') }} #}
  {{ include_javascript('tools/zfuture43/javascripts/vendor/docsify/plugins/zoom-image.min.js') }}
{% else %}
  <iframe class="full-width" src="{{ url({handler:'iframe'}) }}" style="min-height:800px;height:120%;"frameborder="0" allowfullscreen></iframe>
{% endif %}